<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="icon" href="https://dep.com.vn/Uploaded/khangdtm/2016_06_10/xu-huong-my-pham2016(2).jpg" type="" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-black text-white" style="font-family:'Times New Roman', Times, serif;">
            <div class="container-fluid" style="justify-content:space-evenly; position:relative;">
                <div>
                    <img style="width: 50px;" src="https://tse1.explicit.bing.net/th?id=OIP.GQEoPX6czlJhfeMsR8tqxwHaIP&pid=Api&P=0</a>" />
                </div>
                <div class="font-banner" ">
                    <a class="navbar-brand text-white " href="/home/index/">TRANG CHỦ</a>
                </div>
                <div class="top_nav d-flex align-items-center justify-content-between" >
                    <a class="navbar-brand user-profile dropdown-toggle text-white" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="true">SẢN PHẨM</a>
                    <div class="dropdown-menu dropdown-usermenu pull-right dimem" id="dimem" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-89px, 20px, 0px);">
                        <a class="dropdown-item" href="javascript:;"> Profile</a>
                        <a class="dropdown-item" href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>Settings</span>
                        </a>
                        <a class="dropdown-item" href="javascript:;">Help</a>
                        <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                    </div>
                </div>
                <div class="font-banner" ">
                    <a class="navbar-brand text-white" href="/about/index/">GIỚI THIỆU</a>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex flex-grow align-items-center flex-wrap  m-4" action="/Product/index">
                            <label for="search" class="mx-2 my-1"></label>
                            <input type="search" class="form-control w-auto me-2" id="search" name="search" placeholder="Bạn Muốn Tìm Gì ?" />
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <div>
                    <img src="https://theme.hstatic.net/1000376837/1000904744/14/cart-icon.png?v=650" style="width:25px;" />
                    <a class="navbar-brand text-white" href="/Account/Cart">Giỏ Hàng</a>
                </div>

                <div>
                    @if (Session["TaiKhoan"] != null)
                    {
                        <a class="navbar-brand text-white" href="/Account/Logout">
                            @Session["TaiKhoan"] Đăng xuất
                        </a>
                    }
                    else
                    {
                        <a class="navbar-brand text-white" href="/Account/DangKy">Đăng ký</a>
                        <a class="navbar-brand text-white" href="/Account/Login">Đăng nhập</a>
                    }

                </div>
            </div>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <div style="color:red; font-weight:bold">

            </div>

        }
    </div>
    <div>
        @RenderBody()
    </div>
    <footer style="margin-top: 30px;" class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <style>



        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        body {
            line-height: 1.5;
        }
	
 *{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
    
    
    </style>

    <script src="~/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
