
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="x_panel">
        <div class="x_content">
            <div class="col-md-12 col-sm-12  text-center">

            </div>

            <div class="clearfix"></div>



            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1>@ViewBag.khachhang</h1>
                            <h2>số lượng khách hàng</h2>


                        </div>
                        <div class="right col-sm-5 text-center">
                           
                        </div>
                    </div>
                    <div class=" bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-sm" >
                                <i class="fa fa-user"> </i> Quản Lý
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1>@ViewBag.Admin</h1>
                            <h2 style=" width: 105.75px; height: 43.2px;">số lượng nhân viên</h2>


                        </div>
                        <div class="right col-sm-5 text-center">
                            
                        </div>
                    </div>
                    <div class=" bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-sm" style=" width: 86.68px; height: 30.6px;">
                                <i class="fa fa-user"> </i> Quản Lý
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1>0</h1>
                            <h2 style=" width: 105.75px; height: 43.2px;"> Đơn hàng</h2>


                        </div>
                        <div class="right col-sm-5 text-center">
                           
                        </div>
                    </div>
                    <div class=" bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-sm" style=" width: 86.68px; height: 30.6px;">
                                <i class="fa fa-user"> </i> Quản Lý
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1> @ViewBag.thuonghieu</h1>
                            <h2 style=" width: 105.75px; height: 43.2px;">Thương hiệu</h2>


                        </div>
                        <div class="right col-sm-5 text-center">
                          
                        </div>
                    </div>
                    <div class=" bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-sm" style=" width: 86.68px; height: 30.6px;">
                                <i class="fa fa-user"> </i> Quản Lý
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1>@ViewBag.dm</h1>
                            <h2 style=" width: 105.75px; height: 43.2px;">Danh mục</h2>


                        </div>
                        <div class="right col-sm-5 text-center">
                          
                        </div>
                    </div>
                    <div class=" bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-sm" style=" width: 86.68px; height: 30.6px;">
                                <i class="fa fa-user"> </i> Quản Lý
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1>@ViewBag.sanpham </h1>
                            <h2 style=" width: 105.75px; height: 43.2px;">Sản phẩm</h2>
                        </div>
                        <div class="right col-sm-5 text-center">
                            <img src="images/user.png" alt="" class="img-circle img-fluid">
                        </div>
                    </div>
                    <div class=" bottom text-center">
                        <div class=" col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-sm" style=" width: 86.68px; height: 30.6px;">
                                <i class="fa fa-user"> </i> Quản Lý
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>