@model Do_An_Wed.Models.KHACHHANG

@{
    ViewBag.Title = "Xoatkkh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 card border rounded-4">
            <h2 class="text-center">XOÁ THÔNG TIN KHÁCH HÀNG</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Họ tên:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.HoTen)</dd>

                <dt class="col-sm-4">Địa chỉ:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DiachiKH)</dd>

                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EmailKH)</dd>

                <dt class="col-sm-4">Điện thoại:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DienthoaiKh)</dd>

                <dt class="col-sm-4">Tên tài khoản:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.tentk)</dd>

                <dt class="col-sm-4">Mật khẩu:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.mk)</dd>

                
            </dl>
            <div class="text-center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                        @Html.ActionLink("Back to List", "QLKhachhang", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
