@model IEnumerable<Wed_Do_An.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhanhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotaSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HinhanhSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GiaSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.THUONGHIEU.TenTH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DANHMUC.TenDM)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
