
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/nprogress/nprogress.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <script src="~/Scripts/daterangepicker.js"></script>
    <link href="~/Content/custom.min.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Admin")" class="site_title"><i class="fa fa-bug"></i> <span>Admin Hero!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session["Tendangnhap"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index","Admin")">
                                        <i class="fa fa-home"></i> <span>Trang Chủ</span>
                                     </a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-user"></i> <span> Quản lý Admin</span> </a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-users"></i> <span> Quản lý khách hàng</span></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-cubes"></i> <span>Quản lý đơn hàng</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("QLSanpham","Admin")"><i class="fa fa-leaf"></i> <span>Quản lý sản phẩm</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("QLDanhmuc","Admin")"><i class="fa fa-tags"></i> <span>Quản lý danh mục</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("QLThuonghieu","Admin")"><i class="fa fa-paw"></i> <span>Quản lý thương hiệu</span></a>
                                </li>

                            </ul>
                      
                        </div>
                        

                    </div>
                  
                  
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">

                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" style="color: #000000 !important; " >
                                    <img src="images/img.jpg" alt="">@Session["TaiKhoan"]
                                </a>

                                <a class="navbar-brand text-dark" aria-expanded="false" href="/Account/Logout" style="color: #000000 !important; ">
                                    Đăng xuất
                                </a>

                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                               
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style=" min-height: 900.8px;">
                <div class="">

                    @RenderBody()
                </div>
             </div>
                    <!-- /page content -->
                   
                </div>
            </div>

            <!-- jQuery -->

         @*   <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/bootstrap.bundle.min.js"></script>
            <script src="~/Scripts/fastclick.js"></script>
            <script src="~/Scripts/nprogress/nprogress.js"></script>
            <script src="~/Scripts/Chart.min.js"></script>
            <script src="~/Scripts/jquery.sparkline.min.js"></script>
            <script src="~/Scripts/jquery.flot.time.js"></script>
            <script src="~/Scripts/jquery.flot.stack.js"></script>
            <script src="~/Scripts/jquery.flot.resize.js"></script>
            <script src="~/Scripts/jquery.flot.pie.js"></script>
            <script src="~/Scripts/jquery.flot.js"></script>
            <script src="~/Scripts/jquery.flot.orderBars.js"></script>
            <script src="~/Scripts/curvedLines.js"></script>
            <script src="~/Scripts/jquery.flot.spline.min.js"></script>
            <script src="~/Scripts/date.js"></script>
            <script src="~/Scripts/moment.min.js"></script>
            <script src="~/Scripts/daterangepicker.js"></script>
            <script src="~/Scripts/custom.min.js"></script>*@
</body>
</html>