@model IEnumerable<Do_An_Wed.Models.Giohang>

@{ ViewBag.Title = "GioHang";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Giỏ Hàng</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Masp)</th>
        <th>@Html.DisplayNameFor(model => model.hinh)</th>
        <th>@Html.DisplayNameFor(model => model.giaban)</th>
        <th>@Html.DisplayNameFor(model => model.soluong)</th>
        <th>@Html.DisplayNameFor(model => model.dThanhTIen)</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.Masp)</td>
    <td><img src="~/Content/img/@item.hinh" alt="hinh anh" width="180" /></td>
    @using (Html.BeginForm("Cannhapgiohang", "GioHang", new { @id = item.Masp }))
            {
                    <td>@String.Format("{0:0,0}", item.giaban) VNĐ</td>
                    <td><input type="number" min="1" name="txtSoLg" value="@item.soluong" /> </td>
                    <td>@Html.DisplayFor(modelItem => item.dThanhTIen)</td>
                    <td><a href="@Url.Action("Chitiet", "Sanphams", new {id = item.Masp})">Chi tiết</a> | @Html.ActionLink("Xóa", "XoaGioHang", new { @id = item.Masp })</td>
                    <td><input type="submit" value="Cập nhật" class="btn btn-success" /></td>
              }
</tr>}
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2">Số loại sản phẩm: @ViewBag.Tongsoluongsanpham</td>
        <td colspan="2">Số lượng sản phẩm: @ViewBag.Tongsoluong</td>
        <td colspan="4">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien)</td>
    </tr>
    <tr style="font-weight:bold; color:blue; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Xóa Giỏ Hàng", "XoaTatCaGioHang")
        </td>
    </tr>
    <tr style="font-weight:bold; color:yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")
        </td>
    </tr>
</table>