@using Microsoft.AspNet.Identity
@if (Session["Taikhoan"] != null)
{
    using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session["Taikhoan"] + "!", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
        </li>
        <li>@Html.ActionLink("LogOff", "LogOff", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "Admin" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "Admin" }, new { @class = "navbar-brand" })</li>
    </ul>
}
