@model IEnumerable<Do_An_Wed.Models.SANPHAM>
@{
    ViewBag.Title = "Mỹ phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*slider*@
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
            <img src="~/Content/img/hero-1.jpg" class="d-block" width="1520" height="500" alt="1">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/Content/img/hero-2.jpg" class="d-block" width="1520" height="500" alt="2">
        </div>
        <div class="carousel-item" data-bs-interval="2500">
            <img src="~/Content/img/hero-3.jpg" class="d-block" width="1520" height="500" alt="3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@*slider*@



<div class="anhtrangtri" align="center"><img src="https://adminbeauty.hvnet.vn/Upload/Files/banner-min.jpg?v=1" /></div>
<div class="tieude2" style="display: flex; justify-content: center; align-items: center; font-size: 80px; margin-top: 100px; color: #2D6E40; font-family: 'Baloo Chettan 2', cursive; ">Flash <img src="https://cdn-icons-png.flaticon.com/128/384/384994.png" style="margin-left:10px;" /></div>

 @*   trang trí*@

@*Chỗ đễ paglist*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto" style="width:auto;">
            <div class="product">
                <div class="headlien">
                    <h3>Sản phẩm mới nhất</h3>
                    <hr />
                </div>
                <ul class="products" style="justify-content: center;">
                    @foreach (var item in Model)
                    {

                        <li>
                            <div class="product-item">
                                <div class="product-top">
                                    <a href="@Url.Action("Chitiet", "Sanphams", new {id = item.MaSP})" class="product-thumb">
                                        <img src="@Url.Content("~/Content/img/" + item.HinhanhSP)" />
                                    </a>
                                    <a href="#" class="buy-now">
                                        mua ngay
                                    </a>
                                </div>
                                <div class="product-info">
                                    <a href="@Url.Action("details", "Home", new {id = item.MaSP})" class="product-name"> @item.TenSP</a>
                                    <div class="product-price">@item.GiaSP VND</div>
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </div>
</div>


