@model Do_An_Wed.Models.DONHANG

@{
    ViewBag.Title = "ChitietDH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 card border rounded-4">
            <h2 class="text-center">Chi tiết đơn hàng</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">ngay đặt hàng:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NgayDH)</dd>
                <dt class="col-sm-3">ngày giao:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Ngaygiao)</dd>
                <dt class="col-sm-3">trạng thái:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Trangthai)</dd>
                <dt class="col-sm-3">khách hàng:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.KHACHHANG.HoTen)</dd>
            </dl>
            <div class="text-center">
                @Html.ActionLink("Back to page", "Index", null, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Edit", "SuaDH", new { id = Model.MaDH }, new { @class = "btn btn-danger btn-xs" })
            </div>
        </div>
    </div>
</div>

<style>
    dt {
        font-weight: bold;
    }

    hr {
        border-color: #999999;
    }
</style>
